@charset "utf-8";

/* ===============================================
Date : 2016-09-01
Description : 위젯 스타일 => .lucis-widget 클래스 하위로 정의한다
=============================================== */


/* 위젯 컨테이너 정의 : flip UI 
.lucis-flip-container {perspective: 1000px;height:100%;}
.lucis-flip-container .lucis-flipper {transition: 0.6s;transform-style: preserve-3d;position: relative;height:100%;}
.lucis-flip-container:hover .lucis-flipper,
.lucis-flip-container.hover .lucis-flipper {transform: rotateY(180deg);}
.lucis-flip-container,
.lucis-flip-container .front,
.lucis-flip-container .back {width: 100%;height:100%;}
.lucis-flip-container .front {backface-visibility:visible;transform: rotateY(0deg);background-color:#fff;position: relative;z-index: 1;}
.lucis-flip-container .back {backface-visibility:visible;transform: rotateY(180deg);background-color:aqua;position: absolute;top: 0;left: 0;z-index: 0;transition: z-index 1s;}
.lucis-flip-container:hover .back,
.lucis-flip-container.hover .back {z-index:2;}
*/

/* 위젯 컨테이너 정의 : show/hide UI */
.lucis-flip-container {position: relative;height:100%;}
.lucis-flip-container .lucis-flipper {height:100%;}
.lucis-flip-container .front,
.lucis-flip-container .back {width: 100%;height:100%;background-color:#fff;}
.lucis-flip-container .back {position:absolute;left:0;top:0;background-color:rgba(71,181,214,0.8);display:none;}
/*.lucis-flip-container:hover .back,*/
.lucis-flip-container.hover .back {display:block;} 

/* 위젯단위 wrapper */
.lucis-widget {height:100%;position: relative;}
.lucis-widget .lucis-widget-header {position: relative;}
.lucis-widget .lucis-widget-header .pos-right {position: absolute;right:0;top:10px;}
.lucis-widget .lucis-widget-title {padding-top:10px;height:35px;font-size:17px;color:#0c99c9;border-bottom:2px solid #0c99c9;}
.lucis-widget .lucis-widget-title .btn {height:25px;font-size:17px;color:#b3b3b4;line-height:1;padding:0 11px 0 13px;background:url(../images/bg_bar2.gif) left 2px no-repeat;border:none;box-shadow: none;}
.lucis-widget .lucis-widget-title .btn.active {color:#0c99c9;outline:none;}
.lucis-widget .lucis-widget-title .btn:first-child {padding-left:0;background:none;}
.lucis-widget .lucis-widget-body {width:100%;height:100%;padding-top:20px;}
.lucis-widget .lucis-widget-body .pos-bottom-fix {left:0;bottom:0;width:100%;}
.lucis-widget-body + .lucis-widget-header {margin-top:40px;}

/* 위젯 헤더를 position으로 위치시킬 때 <= 위젯 세로 가운데정렬을 위해
.lucis-widget {width:100%;height:100%;position: relative;padding-top:35px;}
.lucis-widget .lucis-widget-header {position: absolute;width:100%;left:0;top:0;}
*/

.lucis-widget .lucis-widget-header .lucis-widget-tools {position: absolute;right: 2px;top: 5px;}
.lucis-widget .lucis-widget-header .lucis-widget-tools .btn {color:#0c99c9;border-color:#0c99c9;height:25px;line-height:23px;padding:0 5px;}


/* widget core style */
.lucis-widget .lucis-core .lucis-core-header {position: relative;}
.lucis-widget .lucis-core .lucis-core-title {height:20px;font-size:13px;color:#000;background:url(../images/bul_arrow.png) left 4px no-repeat;padding:0 0 0 13px;}
.lucis-widget .lucis-core .lucis-core-title .checkbox-inline {margin:-3px 0 0 10px;}
.lucis-widget .lucis-core .lucis-core-body {}


/* datatables customizing */
.lucis-widget table.lucis-table {border-top: 1px solid #0c99c9;}
.lucis-widget table.lucis-table thead th {font-weight:normal;padding: 0 5px;height: 23px;text-align: center;color: #000;border-bottom: 1px solid #0c99c9;background: url(../images/bg_th.gif) left 5px no-repeat;}
.lucis-widget table.lucis-table thead th:first-child {background-image: none;}
.lucis-widget table.lucis-table thead th.th-bg:first-child {background-image: url(../images/bg_th.gif);}
.lucis-widget table.lucis-table tbody th {padding:0 5px;height: 25px;line-height:1.4;font-size:11px;text-align: center;background:#e5e5e5;}
.lucis-widget table.lucis-table tbody td {padding:0 5px;height: 25px;line-height:1.4;font-size:11px;text-align: center;border-left:1px solid #ccc;}
.lucis-widget table.lucis-table tbody td:first-child {border-left:none;}
.lucis-widget table.lucis-table thead th.color-01 {color:#0c99c9;}
.lucis-widget table.lucis-table thead th.color-02 {color:#096787;}
.lucis-widget table.lucis-table thead th.color-03 {color:#003648;}
.lucis-widget table.lucis-table.stripe tbody tr:nth-child(odd),
.lucis-widget table.lucis-table.stripe tbody tr.odd {background-color: #eff0f0;}
.lucis-widget table.lucis-table,
.lucis-widget table.lucis-table.no-footer,
.lucis-widget .dataTables_wrapper.no-footer .dataTables_scrollBody {border-color: #0c99c9;}
.lucis-widget .dataTables_wrapper.no-footer .dataTables_scrollBody table.lucis-table {border-top:none;}
.lucis-widget table.lucis-table.no-head thead {display:none;}
.lucis-widget table.lucis-table td.dataTables_empty {line-height: 2;}
.lucis-widget .dataTables_wrapper + .dataTables_wrapper {margin-top:15px;}
.lucis-widget .ico-up {color:#c90c0c;}
.lucis-widget .ico-down {color:#0c99c9;}
.lucis-widget .DTFC_LeftHeadWrapper,
.lucis-widget .DTFC_LeftBodyWrapper {background:#fff;border-right:1px solid #0c99c9;}
.lucis-widget .DTFC_LeftHeadWrapper table.lucis-table.no-footer {border-bottom:none;}
.lucis-widget .DTFC_LeftBodyWrapper table.lucis-table.no-footer {border-top:none;border-bottom:none;}
.lucis-widget .dataTables_wrapper .dataTables_filter {position:absolute;right:0;top:-25px;}
.lucis-widget .dataTables_wrapper .dataTables_filter input[type=search] {border:1px solid #d2d2d2;padding:0 5px;height:22px;line-height:22px;background:#fff;font-size:11px;}
.lucis-widget .dataTables_wrapper .dataTables_paginate {padding-top:10px;}
.lucis-widget .dataTables_wrapper .dataTables_paginate .paginate_button.previous {text-indent:-9999px;background:url(../images/icon_paging_left_over.png) center center no-repeat;}
.lucis-widget .dataTables_wrapper .dataTables_paginate .paginate_button.next {text-indent:-9999px;background:url(../images/icon_paging_right_over.png) center center no-repeat;}
.lucis-widget .dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled {background-image:url(../images/icon_paging_left.png);}
.lucis-widget .dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled {background-image:url(../images/icon_paging_right.png);}
.lucis-widget .dataTables_wrapper .dataTables_paginate .paginate_button {border:none;font-size:11px;}
.lucis-widget .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.lucis-widget .dataTables_wrapper .dataTables_paginate .paginate_button.current {border:none;}
.lucis-widget .dataTables_wrapper .dataTables_paginate span .paginate_button:hover,
.lucis-widget .dataTables_wrapper .dataTables_paginate span .paginate_button.current {background:#0c99c9;color:#fff !important;}


/* 검색 테이블 */
.lucis-widget table.search-table {width:100%;}
.lucis-widget table.search-table th {padding:5px 10px;height:37px;font-size:14px;color:#000;text-align:right;}
.lucis-widget table.search-table td {padding:5px 10px;height:37px;}
.lucis-widget table.search-table td .form-control {font-size:13px;height:27px;line-height:27px;border-radius:0;padding:0 8px;}
.lucis-widget table.search-table td select.form-control {padding-right:0;} 
.lucis-widget table.search-table td .styled-select {width:100%;}
.lucis-widget table.search-table td .styled-select:after {width:11px;height:7px;background-image:url(../images/bg_selectbox_arr2.png);}
.lucis-widget table.search-table td .form-control.date {width:140px;display:inline-block;}
.lucis-widget table.search-table td .form-control.time {width:80px;display:inline-block;}
.lucis-widget table.search-table td .datepicker-wrap p + p {margin-top:10px;}
.lucis-widget table.search-table td .datepicker-wrap .date {background:#fff url(../images/ico_calendar2.png) right center no-repeat;}
.lucis-widget table.search-table td .datepicker-wrap .ico-flow {text-align:center;width:12px;}
.lucis-widget table.search-table td .radio-inline,
.lucis-widget table.search-table td .checkbox-inline {font-size:12px;}
.lucis-widget table.search-table th.top {vertical-align:top;padding-top:11px;}

.lucis-widget .lucis-table-label {font-size:13px;color:#000;height:20px;}
.lucis-widget .lucis-table-label span {padding-right:10px;}
.lucis-widget .lucis-table-label span:before {display:inline-block;content:"";width:9px;height:9px;margin:0 5px 0 2px;}
.lucis-widget .lucis-table-label span.color-01:before {background:#0c99c9;}
.lucis-widget .lucis-table-label span.color-02:before {background:#096787;}
.lucis-widget .lucis-table-label span.color-03:before {background:#003648;}


/* 날씨이미지 */
.lucis-widget .img-weather {position:absolute;right:0;bottom:0;}

/* 툴팁[bootstrap] */
.lucis-widget .tooltip {font-size:11px;font-family:"notokr-medium";}
.lucis-widget .tooltip .tooltip-inner {background-color:#163645;}
.lucis-widget .tooltip.top .tooltip-arrow {border-top-color:#163645;}


/* button */
.lucis-widget .btn-play {width:40px;height:18px;font-family:"notokr-bold";color:#0c99c9;border:1px solid #dfdfdf;background:none;text-align:center;line-height:14px;}
.lucis-widget .lucis-widget-header .btn-play {position:absolute;right:0;bottom:8px;}


/* 주요상담현황 */
.lucis-widget .widget-chart-01 {position:relative;margin:15px 0 34px 0;height:296px;}
.lucis-widget .widget-chart-01 .chart-01 {position:relative;z-index:1;width:340px;} 
.lucis-widget .chart-01-label ul:after {content:" ";display:block;clear:both;}
.lucis-widget .chart-01-label ul {position:absolute;right:0;top:160px;z-index:2;width:260px;}
.lucis-widget .chart-01-label ul:first-child {top:50px;}
.lucis-widget .chart-01-label li:nth-child(odd) {float:left;}
.lucis-widget .chart-01-label li:nth-child(even) {float:right;}
.lucis-widget .chart-01-label li {width:120px;height:55px;}
.lucis-widget .chart-01-label li .marker {width:40px;float:left;font-size:30px;font-family:"notokr-black";}
.lucis-widget .chart-01-label li dl {padding-left:40px;}
.lucis-widget .chart-01-label li dt {font-size:11px;font-family:"notokr-bold";transition: color linear 0.2s;}
.lucis-widget .chart-01-label li dd {font-size:10px;color:black;}
.lucis-widget .chart-01-label li.deactive dd {font-size:10px;color:#e8e8e8;}
.lucis-widget .chart-01-label li.label-01 .marker,
.lucis-widget .chart-01-label li.label-01 dt {color:rgb(8, 29, 88);transition: color linear 0.2s;}
.lucis-widget .chart-01-label li.label-01.deactive .marker,
.lucis-widget .chart-01-label li.label-01.deactive dt {color:#e8e8e8;}
.lucis-widget .chart-01-label li.label-02 .marker,
.lucis-widget .chart-01-label li.label-02 dt {color:rgb(30, 51, 136);transition: color linear 0.2s;}
.lucis-widget .chart-01-label li.label-02.deactive .marker,
.lucis-widget .chart-01-label li.label-02.deactive dt {color:#e8e8e8;}
.lucis-widget .chart-01-label li.label-03 .marker,
.lucis-widget .chart-01-label li.label-03 dt {color:rgb(34, 85, 163);transition: color linear 0.2s;}
.lucis-widget .chart-01-label li.label-03.deactive .marker,
.lucis-widget .chart-01-label li.label-03.deactive dt {color:#e8e8e8;}
.lucis-widget .chart-01-label li.label-04 .marker,
.lucis-widget .chart-01-label li.label-04 dt {color:rgb(33, 126, 183);transition: color linear 0.2s;}
.lucis-widget .chart-01-label li.label-04.deactive .marker,
.lucis-widget .chart-01-label li.label-04.deactive dt {color:#e8e8e8;}
.lucis-widget .chart-01-label li.label-05 .marker,
.lucis-widget .chart-01-label li.label-05 dt {color:rgb(49, 164, 193);transition: color linear 0.2s;}
.lucis-widget .chart-01-label li.label-05.deactive .marker,
.lucis-widget .chart-01-label li.label-05.deactive dt {color:#e8e8e8;}
.lucis-widget .chart-01-label li.label-06 .marker,
.lucis-widget .chart-01-label li.label-06 dt {color:rgb(91, 191, 192);transition: color linear 0.2s;}
.lucis-widget .chart-01-label li.label-06.deactive .marker,
.lucis-widget .chart-01-label li.label-06.deactive dt {color:#e8e8e8;}
.lucis-widget .chart-01-label li.label-07 .marker,
.lucis-widget .chart-01-label li.label-07 dt {color:rgb(148, 213, 185);transition: color linear 0.2s;}
.lucis-widget .chart-01-label li.label-07.deactive .marker,
.lucis-widget .chart-01-label li.label-07.deactive dt {color:#e8e8e8;}
.lucis-widget .chart-01-label li.label-08 .marker,
.lucis-widget .chart-01-label li.label-08 dt {color:rgb(202, 234, 180);transition: color linear 0.2s;}
.lucis-widget .chart-01-label li.label-08.deactive .marker,
.lucis-widget .chart-01-label li.label-08.deactive dt {color:#e8e8e8;}
.lucis-widget .chart-01-label .sum-text {font-size:11px;color:#0c99c9;font-family:"notokr-bold";position:absolute;right:0;top:270px;}
/* layout type2 */
.lucis-widget .widget-chart-01.l-type2 {text-align:center;}
.lucis-widget .widget-chart-01.l-type2 .sum-text {font-size:25px;text-align:center;left:0;top:140px;right:auto;width:100%;}
.lucis-widget .widget-chart-01.l-type2 .chart-01 {margin:0 auto;text-align:center;} 
.lucis-widget .widget-chart-01.l-type2 .chart-01-label ul {width:120px;top:50px;}
.lucis-widget .widget-chart-01.l-type2 .chart-01-label ul:first-child {right:auto;left:0;}
.lucis-widget .widget-chart-01.l-type2 .chart-01-label li:nth-child(odd),
.lucis-widget .widget-chart-01.l-type2 .chart-01-label li:nth-child(even) {float:none;}
.lucis-widget .widget-chart-01.l-type2 .chart-01-label li dt,
.lucis-widget .widget-chart-01.l-type2 .chart-01-label li dd {text-align: left;}
.lucis-widget .widget-chart-14.l-type2 .chart-14 {width:320px;} 


/* 유형별 세부 현황 */
.lucis-widget .widget-graph-01 {width:100%;border:1px solid #0c99c9;border-width:1px 0;height:325px;}
.lucis-widget .widget-graph-01 th {width:110px;font-size:11px;color:#000;padding-left:15px;text-align:left;border-right:1px solid #0c99c9;}
.lucis-widget .widget-graph-01 td .progress {margin:0;height:20px;border-radius:0;box-shadow: none;}
.lucis-widget .widget-graph-01 td .progress-bar {line-height:20px;font-size:10px;}
.lucis-widget .widget-graph-01 td .progress-color1 {background:#a8cee5;}
.lucis-widget .widget-graph-01 td .progress-color2 {background:#0c99c9;}
.lucis-widget .widget-graph-01 td .progress-color3 {background:#1c7a93;}
.lucis-widget .widget-graph-01 td .progress-color4 {background:#285366;}
.lucis-widget .widget-graph-01 td .progress-color5 {background:#1b4b5b;}
.lucis-widget .widget-graph-01 td .progress-color6 {background:#dadada;}
.lucis-widget .widget-graph-01 td .progress-color7 {background:#b3b3b4;}
.lucis-widget .widget-graph-01 td .progress-color8 {background:#8c8c8c;}


/* 트렌드 */
.lucis-widget .widget-graph-02 {width:100%;border:1px solid #0c99c9;border-width:1px 0;height:213px;}
.lucis-widget .widget-graph-02 th {width:110px;font-size:11px;color:#000;padding-left:15px;text-align:left;border-right:1px solid #0c99c9;}
.lucis-widget .widget-graph-02 td.percent {width:80px;font-size:10px;color:#444;text-align:center;border-right:1px solid #0c99c9;}
.lucis-widget .widget-graph-02 td .progress {position:relative;margin:0;height:12px;border-radius:0;box-shadow: none;background:none;overflow:visible;}
.lucis-widget .widget-graph-02 td.graph-l {padding-left:40px;border-right:1px solid #b7e0ef;}
.lucis-widget .widget-graph-02 td.graph-l .progress-bar {background-color:#0c99c9;float:right;text-align:left;line-height:12px;border-top-left-radius:3px;border-bottom-left-radius:3px;}
.lucis-widget .widget-graph-02 td.graph-l .progress-bar span {color:#0c99c9;width:35px;margin-left:-40px;text-align:right;font-size:10px;}
.lucis-widget .widget-graph-02 td.graph-r {padding-right:40px;}
.lucis-widget .widget-graph-02 td.graph-r .progress-bar {background-color:#c90c0c;text-align:right;line-height:12px;border-top-right-radius:3px;border-bottom-right-radius:3px;}
.lucis-widget .widget-graph-02 td.graph-r .progress-bar span {color:#c90c0c;width:35px;margin-right:-40px;text-align:left;font-size:10px;}
    /* 신한은행 */
.lucis-widget .widget-graph-02.type2 {height:278px;margin-top:-20px;border-top:none;}
.lucis-widget .widget-graph-02.type2 th {width:90px;font-size:13px;padding-left:0;padding-right:20px;text-align:right;}
.lucis-widget .widget-graph-02.type2 td .progress {height:14px;}
.lucis-widget .widget-graph-02.type2 td.graph-l .progress-bar span,
.lucis-widget .widget-graph-02.type2 td.graph-r .progress-bar span {font-size:11px;line-height:14px;}
.lucis-widget .widget-graph-02.type2.th-wide th {width:110px;padding-right:10px;}
    /* 막대 하나 */
.lucis-widget .widget-graph-02.type2.one td.graph-r .progress-bar {background-color:#0c99c9;}
.lucis-widget .widget-graph-02.type2.one td.graph-r .progress-bar span {color:#0c99c9;}
    /* 상담유형트렌드 */
.lucis-widget .widget-graph-02.type3 {height:400px;}
.lucis-widget .widget-graph-02.type3 th {width:200px;font-family:"notokr-bold";text-align:center;padding:0;border-top:1px solid #0c99c9;background:#eff0f0;}
.lucis-widget .widget-graph-02.type3 td {text-align:center;padding:0;border-top:1px solid #0c99c9;border-left:1px solid #0c99c9;}
.lucis-widget .widget-graph-02.type3 td:first-child {border-left:none;}


/* 헤더 서치 영역 */
.lucis-widget .widget-head-search {position:absolute;right:0;top:-2px;}
.lucis-widget .widget-head-search .search-area {position:relative;}
.lucis-widget .widget-head-search .search-area .form-control {font-size:10px;height:18px;line-height:16px;border-radius:10px;}
.lucis-widget .widget-head-search .search-area button {position:absolute;right:7px;top:3px;color:#d2d2d2;border:none;background:none;font-size:10px;}


/* 헤더 날짜설정 영역 */
.lucis-widget .widget-head-date {position:absolute;right:0;top:-2px;}
.lucis-widget .widget-head-date .form-control {height:18px;line-height:16px;border-radius:0;display:inline-block;}
.lucis-widget .widget-head-date select.form-control {width:auto;min-width:80px;} 
.lucis-widget .widget-head-date .form-control.date {width:105px;} 


/* 언론보도 */
.lucis-widget table.lucis-table.tbl-voc tbody td {height:52px;}
.lucis-widget table.lucis-table.tbl-voc thead th {width:6%;}
.lucis-widget table.lucis-table.tbl-voc thead th + th {width:auto;}
.lucis-widget table.lucis-table.tbl-voc thead th + th + th {width:15%;}
.lucis-widget table.lucis-table.tbl-voc thead th + th + th + th,
.lucis-widget table.lucis-table.tbl-voc thead th + th + th + th + th,
.lucis-widget table.lucis-table.tbl-voc thead th + th + th + th + th + th,
.lucis-widget table.lucis-table.tbl-voc thead th + th + th + th + th + th + th {width:12%;}


/* 상담사 현황 */
.lucis-widget .widget-graph-03 {width:100%;border:1px solid #0c99c9;border-width:1px 0;height:252px;}
.lucis-widget .widget-graph-03 th {font-size:11px;color:#000;text-align:center;border-right:1px solid #0c99c9;}
.lucis-widget .widget-graph-03 td.count {font-size:10px;color:#444;text-align:center;border-right:1px solid #0c99c9;}
.lucis-widget .widget-graph-03 td .progress {position:relative;margin:0;height:12px;border-radius:0;box-shadow: none;background:none;overflow:visible;}
.lucis-widget .widget-graph-03 td.graph {padding-right:20px;}
.lucis-widget .widget-graph-03 td.graph .progress-bar {background-color:#b8deed;text-align:right;line-height:10px;}
.lucis-widget .widget-graph-03-axis {width:100%;height:252px;margin-bottom:-252px;}
.lucis-widget .widget-graph-03-axis td.graph {padding-right:20px;}
.lucis-widget .widget-graph-03-axis td.graph ul {width:100%;height:100%;display:table;}
.lucis-widget .widget-graph-03-axis td.graph li {position:relative;display:table-cell;width:calc(100%/4);height:252px;border-right:1px solid #b6e0ef;color:#0c99c9;font-size:10px;}
.lucis-widget .widget-graph-03-axis td.graph li span {position:absolute;right:-10px;bottom:-12px;}


/* 원인묵음발생량 */
.lucis-widget .widget-graph-03.tbl-mute {height:102px;}
.lucis-widget .widget-graph-03-axis.tbl-mute {height:102px;margin-bottom:-102px;}
.lucis-widget .widget-graph-03-axis.tbl-mute td.graph li {width:calc(100%/6);height:102px}


/* 그래프 라벨 표시 */
.lucis-widget .widget-head-label {position:absolute;right:0;bottom:8px;}
.lucis-widget .widget-head-label li {display:inline-block;font-size:10px;color:#555;margin-left:7px;}
.lucis-widget .widget-head-label li span {width:25px;height:3px;margin-right:5px;vertical-align:middle;}
.lucis-widget .widget-head-label li.dot span:before {display:inline-block;content:"";width:7px;height:7px;border-radius:7px;position:relative;left:9px;top:-4px;background-color:inherit;}
.lucis-widget .widget-head-label li.skyblue span {background-color:#b8deed;}/* 하늘색 */
.lucis-widget .widget-head-label li.blue span {background-color:#0c99c9;}/* 파랑 */
.lucis-widget .widget-head-label li.gray span {background-color:#686868;}/* 회색 */
.lucis-widget .widget-head-label li.red span {background-color:#c9170e;}/* 빨강 */
.lucis-widget .widget-head-label li.darkgray span {background-color:#00506b;}/* 진한회색 */
.lucis-widget .widget-head-label li.lightgray span {background-color:#dadada;}/* 연한회색 */



/* 상세상담유형 */
.lucis-widget .widget-chart-14 {position:relative;margin:10px 0;}
.lucis-widget .widget-chart-14 .chart-14 {position:relative;z-index:2;width:380px;text-align:center;} 
.lucis-widget .chart-14-label {position:absolute;right:0;top:40px;z-index:1;width:210px;}
.lucis-widget .chart-14-label li {height:50px;}
.lucis-widget .chart-14-label li .marker {width:50px;float:left;font-size:34px;font-family:"notokr-black";}
.lucis-widget .chart-14-label li dl {padding-left:50px;}
.lucis-widget .chart-14-label li dt {font-size:13px;font-family:"notokr-bold";}
.lucis-widget .chart-14-label li dd {font-size:12px;color:#747474;}
.lucis-widget .chart-14-label li.label-01 .marker,
.lucis-widget .chart-14-label li.label-01 dt {color:#0d99c9;}
.lucis-widget .chart-14-label li.label-02 .marker,
.lucis-widget .chart-14-label li.label-02 dt {color:#686868;}
.lucis-widget .chart-14-label li.label-03 .marker,
.lucis-widget .chart-14-label li.label-03 dt {color:#cd261e;}
.lucis-widget .chart-14-label li.label-04 .marker,
.lucis-widget .chart-14-label li.label-04 dt {color:#00506b;}


/* 임시 이미지 사이즈 고정 */
.lucis-widget .widget-chart-01 img {}              /* 주요상담현황 */
.lucis-widget .widget-chart-02 img {height:400px;} /* 트렌드 그래프 */
.lucis-widget .widget-chart-03 img {height:144px;} /* VOC 현황 */
.lucis-widget .widget-chart-04 img {height:226px;} /* 통화시간분포 */
.lucis-widget .widget-chart-05 img {height:115px;} /* 묵음발생패턴 */
.lucis-widget .widget-chart-06 img {}              /* 없음 */
.lucis-widget .widget-chart-07 img {height:254px;} /* 원스톱 처리율 */
.lucis-widget .widget-chart-08 img {height:268px;} /* 조직별 현황 */
.lucis-widget .widget-chart-09 img {height:242px;} /* 스크립트 단계별 통화유지(막대) */
.lucis-widget .widget-chart-10 img {height:242px;} /* 성공/실패 통화패턴(선) */
.lucis-widget .widget-chart-11 img {height:336px;} /* 크립트 단계별 통화유지(선) */
.lucis-widget .widget-chart-12 img {height:245px;} /* 상담 트렌드 */
.lucis-widget .widget-chart-13 img {height:276px;} /* 일별 트렌드 */
.lucis-widget .widget-chart-14 img {}              /* 상세상담유형 */
.lucis-widget .widget-chart-15 img {height:272px;} /* 시간대별 통화량 */
.lucis-widget .widget-chart-16 img {height:272px;} /* 회사별 통화량 */
.lucis-widget .widget-chart-17 img {height:290px;} /* 통화시간 분포 */
.lucis-widget .widget-chart-18 img {height:395px;} /* 검색조건 */