@charset "utf-8";

/* ===================================================
 * 한국정보인증 Sign Gate Publishing Guide
 * Date : 2014/09/11 ~ 2014/12/10
 * ================================================== */


/* reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {margin:0;padding:0;font-weight:normal;font-family:'맑은 고딕','돋움',Dotum,AppleGothic,sans- serif;}
body {font-size:14px;color:#444;line-height:1;letter-spacing:0;}
caption, hr, legend {visibility:hidden;width:0;height:0;line-height:0;font-size:0;}
img,fieldset {border:none;}
ul,ol,li {list-style:none;}
table {width:100%;border-width:0;border-spacing:0;}
/*caption {height:0;overflow:hidden;font-size:0;line-height:0;text-indent:-20000px}*/
address,caption,cite,code,dfn,em,i,var {font-style:normal;font-weight:normal;}
a {color:#444;text-decoration:none;text-overflow:ellipsis;cursor:pointer;}
a:link,a:visited,a:hover,a:active {color:#444;text-decoration:none;}
input, button, select, textarea, label {display:inline-block;vertical-align:middle;border:none;background:none;padding:0;color:#444;}
textarea {resize:none;}
a, cite, code, dfn, del, em, ins, label, q, span, strong {display:inline-block;}


/* 퍼블리싱 가이드 구분용 클래스 .gd-wrap 하위로 정의 */

.align-c {text-align:center !important;}
.align-l {text-align:left !important;}
.align-r {text-align:right !important;}
.align-t {vertical-align:top !important;}
.align-m {vertical-align:middle !important;}
.align-b {vertical-align:bottom !important;}



/* common layout */
.gd-wrap {width:1030px;margin:0 auto;padding-top:150px }
.gd-wrap .gd-header {width:100%;height:110px;background:#fff;border-bottom:2px solid #266ab3;position:fixed;left:0;top:0;z-index:1000000;}
.gd-wrap .gd-header h1.gd-tit1 {font-size:46px;text-align:center;padding:25px 0 0 0;color:#00509d;  text-shadow:1px 1px 0 #c7c8ca;}
.gd-wrap .gd-header h1.gd-tit1 em {color:#f06e3d;}
.gd-wrap .gd-header .logo {position:absolute;left:20px;top:20px;}
.gd-wrap .gd-container:after {content:" ";display:block;clear:both;}
.gd-wrap .gd-container {*zoom:1;padding:0 0 50px 0;position:relative;}
.gd-wrap .gd-footer {text-align:center;padding:20px 0;border-top:1px solid #999;font-size:11px;color:#666;}

/* index */
.gd-wrap .gd-container .main-wrap:after {content:" ";display:block;clear:both;}
.gd-wrap .gd-container .main-wrap {width:800px;margin:0 auto;*zoom:1;line-height:1.4;}
.gd-wrap .gd-container .main-wrap .box {width:300px;height:340px;padding:20px 30px;margin:0 auto;
    border-radius:15px;
    background: -webkit-linear-gradient(#f7f7f7, #cdcccb);
    background: -o-linear-gradient(#f7f7f7, #cdcccb);
    background: -moz-linear-gradient(#f7f7f7, #cdcccb);
    background: linear-gradient(#f7f7f7, #cdcccb);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#cdcccb', GradientType=0);
    box-shadow:2px 2px 8px rgba(0,0,0,0.1), -2px -2px 8px rgba(0,0,0,0.1);
}
.gd-wrap .gd-container .main-wrap .box.left {float:left;}
.gd-wrap .gd-container .main-wrap .box.right {float:right;}
.gd-wrap .gd-container .main-wrap .box h2 {font-size:28px;line-height:1;padding:0 0 20px 0;margin:0 0 10px 0;color:#00509d;border-bottom:1px solid #cdcccb;box-shadow:0 1px 0 #fff;text-shadow:1px 1px 0 #fff;}
.gd-wrap .gd-container .main-wrap .box > ul {margin:0 0 20px 0;list-style-type:disc;}
.gd-wrap .gd-container .main-wrap .box ul li {margin:0 0 0 25px;list-style-type:disc;}
.gd-wrap .gd-container .main-wrap .box ul li:first-child {margin-top:0;}
.gd-wrap .gd-container .main-wrap .box ul li a {font-size:18px;padding:5px 20px;display:block;text-shadow:1px 1px 0 #f1f1f1;color:#444;}
.gd-wrap .gd-container .main-wrap .box ul li a:hover {text-decoration:underline;}
.gd-wrap .gd-container .main-wrap .box ul li ul {margin-top:4px;}
.gd-wrap .gd-container .main-wrap .box ul li ul li {margin:4px 0 0 25px;}
.gd-wrap .gd-container .main-wrap .box ul li ul li a {font-size:14px;padding:5px 20px;display:block;}


/* guide & template*/
.gd-wrap .gd-lnb {width:180px;position:fixed;top:150px;background:#f9f9f9;}
.gd-wrap .gd-lnb ul {border-top:3px solid #256bb3;}
.gd-wrap .gd-lnb ul.depth1 li a {display:block;padding:12px 20px 12px 20px;color:#444;border-bottom:1px solid #d1d1d1;letter-spacing:0;}
.gd-wrap .gd-lnb ul.depth1 li a:hover,
.gd-wrap .gd-lnb ul.depth1 li.active a {font-weight:bold;background:#e1e1e1;}
.gd-wrap .content {margin-left:220px;line-height:1.4;}
.gd-wrap .gd-container .con-wrap {margin-bottom:40px;}
.gd-wrap .gd-container .con-wrap .text-box {line-height:1.8;}
.gd-wrap .gd-container .con-wrap .refer {color:blue;margin:20px 0;}
.gd-wrap .gd-container .con-wrap .refer a {color:inherit;}
.gd-wrap .gd-container .con-wrap .refer a:hover {text-decoration:underline;}
.gd-wrap .gd-container .con-wrap h2 {font-size:32px;line-height:0.7;border-left:5px solid #3580ca;padding:0 0 7px 15px;margin-bottom:10px;}
.gd-wrap .gd-container .con-wrap h3 {font-size:16px;line-height:1;padding:20px 0 10px 0;;font-weight:bold;}
.gd-wrap .gd-container .con-wrap h5 {font-size:12px;line-height:1;padding:5px 0;font-weight:bold;}
.gd-wrap .gd-container .con-wrap p {line-height:1.8;}
.gd-wrap .gd-container .con-wrap .p-txt {padding:12px 0;line-height:1.8;}
.gd-wrap .gd-container .con-wrap .p-txt2 {padding:0 0 12px 0;line-height:1.8;}
.gd-wrap .gd-container .con-wrap .group {margin:0 0 30px 0;line-height:1.8;}
.gd-wrap .gd-container .con-wrap .notice-txt {margin-bottom:5px;}
.gd-wrap .gd-container .con-wrap .notice-txt li {background:url(bu1.gif) left 12px no-repeat;padding:0 0 0 10px;margin:0 0 0 10px;line-height:1.8;}



/* list table */
.gd-wrap.worksheet {width:100%;}
.gd-wrap.worksheet .list-tbl table {min-width:1200px;}
.gd-wrap.worksheet .list-tbl .del * {text-decoration:line-through;}
.gd-wrap.worksheet .head-info {padding:0 0 10px 0;color:#2f6cc7;}
.gd-wrap.worksheet .head-info .go-link {font-size:20px;color:red;}
.gd-wrap.worksheet .gd-container {padding:0 20px 20px 20px;line-height:1.4;}
.gd-wrap .list-tbl table {width:100%;border-collapse:collapse;font-size:12px;margin-bottom:5px;}
.gd-wrap .list-tbl th {background-color:#eaeaea;padding:3px 0 3px 0;border:1px solid #ccc;font-weight:bold;}
.gd-wrap .list-tbl td {text-align:left;padding:3px 10px 3px 10px;border:1px solid #ccc;}
.gd-wrap .list-tbl td a {color:#444;}
.gd-wrap .list-tbl td a:hover {text-decoration:underline;}
.gd-wrap .list-tbl td a.link {margin-left:10px;color:#1762fc;}
.gd-wrap .list-tbl td a.link:hover {margin-left:10px;color:#1762fc;}
.gd-wrap .list-tbl.center table td {text-align:center;}

.gd-wrap .list-tbl tr.hr td {border-top:2px solid #aaa;}
.gd-wrap .list-tbl tr.hr2 td {border-top:10px solid orange;}
.gd-wrap .list-tbl tr.hr-title td {background:#fcf9b4;color:#000;font-weight:bold;padding-left:50px;font-size:16px;}


.gd-wrap .list-tbl td.num {text-align:center;}
.gd-wrap .list-tbl td.dep1 {font-weight:bold;}
.gd-wrap .list-tbl td.dep2 {;}
.gd-wrap .list-tbl td.dep3 {;}
.gd-wrap .list-tbl td.dep4 {;}
.gd-wrap .list-tbl td.explain {;}
.gd-wrap .list-tbl td.url1 {;}
.gd-wrap .list-tbl td.url2 {;}
.gd-wrap .list-tbl td.date1 {color:red;text-align:left}
.gd-wrap .list-tbl td.date2 {color:red;text-align:center;}
.gd-wrap .list-tbl td.comment {color:blue;}


/* preType */
.prettyprint {padding: 8px;background-color: #f7f7f9;border: 1px solid #dedede;}
.prettyprint.linenums {background:url(bg_pre.gif) repeat-y 0 0;}

ol.linenums {margin: 0 0 0 25px; /* IE indents via margin-left */}
ol.linenums li {padding-left: 12px;color: #bebec5;line-height: 20px; list-style-type: decimal !important;}
ol.linenums li span {font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;}
span.dec {letter-spacing:-1px;}
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #48484c; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }